
        <div class="slides row mg-b20">
            <div class="thumb row" id="thumb">
                
            </div>
            <div class="btn-img row">
                <input type="hidden" id="vitri">
                <button class="prev-img" onclick="prev()" ><i class="ti-angle-double-left"></i></button>
                <img id="img" src="">
                <button class="next-img" onclick="next()" ><i class="ti-angle-double-right"></i></button>
            </div>
        </div>
        
<div class="mt-4">
    <div class="row">
        {{#each books}}
        <div class="mainShow col-sm-6 col-lg-4">   
              <div class="card">
                <a href="/books/{{this.slug}}"><img class="card-img-top" src="../img/{{this.image}}" alt="{{this.name}}"></a>
                <div class="card-body">
                  <h5 class="card-title">{{this.name}}</h5>
                    <a class="detail" href="/books/{{this.slug}}">Xem chi tiết <i class="ti-angle-double-right"></i></a>
                </div>
            </div>
        </div>
        {{/each}}
        </div>
</div>